<div class="stat-box">
	<div class="label">Total Asset</div>
	<div class="value">{{data.portfolio.balance}}</div>
</div>
<div class="stat-box">
	<div class="label">Available</div>
	<div class="value">{{data.portfolio.available}}</div>
</div>
<div class="stat-box">
	<div class="label">Deposit</div>
	<div class="value">{{data.portfolio.deposit}}</div>
</div>
<div class="stat-box">
	<div class="label">PnL</div>
	<div class="value" id="{% if '-' in data.portfolio.pnl|string %}loss{% else %}profit{% endif %}">{{data.portfolio.pnl}}</div>
</div>
