{% extends "layout/dashboard.html" %} {% block content %}
<div class="header-large">
  <h1>Config</h1>
</div>
<div class="platform-container-cover">
  <div class="platform-container">
    <div class="content">
      <form class="config-form" name="tradingConfigForm">
        <div class="trade-setup">
          <div class="form-group">
            <label for="direction">direction</label>
            <select id="direction" name="direction">
              <option>BUY</option>
              <option>SELL</option>
            </select>
          </div>
          <div class="form-group">
            <label for="tradeAMount">Trade Amount</label>
            <input
              type="text"
              id="tradeAMount"
              name="tradeAMount"
              value="$ "
            />
          </div>
          <div class="form-group">
            <label for="takeProfit">take profit</label>
            <input
              type="text"
              id="takeProfit"
              name="takeProfit"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="stopLoss">stop loss</label>
            <input type="text" id="stopLoss" name="stopLoss" value="$ 35" />
          </div>
          <div class="form-group">
            <label for="hookName">hook name</label>
            <input type="text" id="hookName" name="hookName" value="HHOK-1" />
          </div>
          <div class="form-group checkbox-group">
            <label>exit criteria</label>
            <div class="checkbox-options">
              <label>
                <input
                  type="checkbox"
                  id="takeProfitExit"
                  name="takeProfitExit"
                  checked
                />
                <span>
                  <i data-lucide="check"></i>
                </span>
                <label for="takeProfitExit">take profit</label>
              </label>

              <label>
                <input
                  type="checkbox"
                  id="stopLossExit"
                  name="stopLossExit"
                  checked
                />
                <span>
                  <i data-lucide="check"></i>
                </span>
                <label for="stopLossExit">stop loss</label>
              </label>

              <label>
                <input
                  type="checkbox"
                  id="strategyExit"
                  name="strategyExit"
                  checked
                />
                <span>
                  <i data-lucide="check"></i>
                </span>
                <label for="strategyExit">Strategy</label>
              </label>

              <label>
                <input
                  type="checkbox"
                  id="marketClosedExit"
                  name="marketClosedExit"
                />
                <span>
                  <i data-lucide="check"></i>
                </span>
                <label for="marketClosedExit">market closed</label>
              </label>
            </div>
          </div>
        </div>
        <button type="button">
          <i data-lucide="copy"></i>
          Copy Payload
        </button>
      </form>
      <!-- <div class="payload">
              <h2>Payload</h2>
              <div class="payload-content">
                { "epic": "{{ticker}}", "timeframe": "{{interval}}", "profit":
                1, }
              </div>
              <button>Copy</button>
            </div> -->
    </div>
  </div>
</div>
{% endblock %}
