{% extends "layout/dashboard.html" %} {% block content %}
<div class="platform-container-cover">
	<div class="platform-container">
		<div class="sidebar">
			<div class="sidebar-header">
				<h3>Portfolio</h3>
				<label class="toggle-label">
					<i data-lucide="panel-right-close"></i>
					<input type="checkbox" class="toggle-checkbox" />
				</label>
			</div>
			<div class="portfolio-stats">
				<div class="stat-box">
					<div class="label">Total Asset</div>
					<div class="value">{{data.portfolio.balance}}</div>
				</div>
				<div class="stat-box">
					<div class="label">Available</div>
					<div class="value">{{data.portfolio.available}}</div>
				</div>
				<div class="stat-box">
					<div class="label">Deposit</div>
					<div class="value">{{data.portfolio.deposit}}</div>
				</div>
				<div class="stat-box">
					<div class="label">PnL</div>
					<div class="value">{{data.portfolio.pnl}}</div>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="trading-history">
				<table>
					<thead>
						<tr>
							<th>Epic</th>
							<th>size</th>
							<th>direction</th>
							<th>leverage</th>
							<th>entry date</th>
							<th>P&L</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>BTCUSD</td>
							<td>0.122</td>
							<td>BUY</td>
							<td>200:1</td>
							<td>18 May 13:11</td>
							<td>+2.31</td>
							<td><button class="close-btn">close</button></td>
						</tr>
						<tr>
							<td>GOLD</td>
							<td>1.23</td>
							<td>BUY</td>
							<td>200:1</td>
							<td>18 May 13:11</td>
							<td>+12.98</td>
							<td><button class="close-btn">close</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
